body {
  background: teal;
}

h1 {
  color: purple;
  /* background: #FFCC00; */
  text-align: left;
}

.dogcolumn img {
  max-width: 100vw;
}

.dogfacts {
  background: green;
  color: white;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: purple;
  }

}
